body {
	font-family: 'Open Sans', sans-serif;
	color: #201b2d;
	font-size: 15px;
	padding: 0;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Ubuntu', serif;
	font-weight: 900;
}

p {
	line-height: 1.65em;
}

ul {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0;
}

li {
  list-style: none;
  width: 290px;

}

header {
  background: rgb(78,191,254);
  background: -moz-linear-gradient(90deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
  background: linear-gradient(90deg, rgba(78,191,254,1) 0%, rgba(55,143,217,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4ebffe",endColorstr="#378fd9",GradientType=1);
	color: #fff;
  height: 100vh;
}

.btn {
  border: none;
  outline: none;
  padding: 20px 30px;
  cursor: pointer;
  margin: 0;
  font-family: Montserrat;
  font-weight: bold;
  background-color: #ffd429;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.first-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecf3f8;
  padding: 100px 0;
}

.form h2 {
  margin-bottom: 60px;
}

form {
  width: 340px;
}

form input, form button {
  width: 100%;
  outline: none;
  border: none;
}

form button {
  letter-spacing: 1.1;
}

form input {
  font-family: 'Ubuntu';
  font-weight: normal;
  border: 1px solid #bbb;
  border-radius: 2px;
  padding: 15px 24px;
  margin-bottom: 15px;
}

.future-plans{
  text-align: center;
  margin: 110px 0;
}

.future-plans h2 {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 70px;
}

.logo {
  padding: 60px 0;
}

.item p {
  font-family: 'Ubuntu';
  font-weight: 400;
}

.left span {
  font-size: 60px;
}

.right img {
  margin-top: -75px;
}


footer {
  background-color: #164d7a;
  text-align: center;
  color: white;
  padding: 60px 0;
  font-size: 14px;
}
